body {
  background-color: #222;
}

canvas {
  background: url("/img/ozarks-trans.png") no-repeat center bottom;
  background-size: cover;
  z-index: -1;
}

.header {
  position: relative;
  width: 100%;
  display: flex;
}

.header-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.header-title {
  color: #fff;
  font-size: 80px;
  font-family: 'Righteous', cursive;
  margin-bottom: 1.5rem;
}

.header-title-ar {
  color: #8240f4;
}

.header-subtitle {
  color: #fff;
  font-family: 'Rubik', sans-serif;
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
}

.btn-look {
  background-color: #8240f4;
  color: #fff;
}

.modal-header {
  padding: 1rem 2rem;
}

.modal-body {
  padding: 1rem 2rem;
  padding-bottom: 2rem;
}

.modal-backdrop {
  z-index: -1;
}

#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
  We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */

.mc-field-group {
  width: 100% !important
}

#mc-embedded-subscribe {
  width: 100%;
  margin: auto;
}

#mc_embed_signup form {
  padding: 0px;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
  text-align: center;  
}

::-moz-placeholder {  /* Firefox 19+ */
  text-align: center;  
}

:-ms-input-placeholder {  
  text-align: center; 
}
  
  @media screen and (max-width: 576px) {
    .header-subtitle {
      width: 100%;
    }
    .header-container {
      width: 100%;
    }
  }

  @media (min-width: 576px) {  
    .modal-dialog {
      margin: auto !important;
    }    
  }